.gallery-container {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px ;
    transition: 0.5s ease all;
}

.gallery-h1 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: 0.5s ease all;
}

.gallery-h1::after {
  content: "";
  display: block;
  width: 40px;
  height: 9px;
  background-color: rgb(57, 57, 168);
  margin: 25px auto 0;
  border-radius: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    gap: 1rem;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
}

@media (max-width: 768px) {

  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 60px;
  }

}