.slider-wrapper {
  position: relative;
  transition: 0.5s ease all;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-viewport {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}


.slider-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 10;
  padding: 0 40px;
}

.slider-navigation button {
  pointer-events: all;
  color: rgb(57, 57, 168);
  border: none;
  font-size: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.5s;
  background-color: transparent;
}

.btn-f.light {
  color: rgb(57, 57, 168);
}

.btn-f.light:hover {
  color: rgb(8, 8, 151);
}

.btn-f.dark {
  color: white;
}

.btn-f.dark:hover {
  color: rgb(8, 8, 151);
}

.slider-content {
  will-change: transform;
  transform-style: preserve-3d;
}

.slider-heading {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: 0.5s ease all;
}

.slider-heading::after {
  content: "";
  display: block;
  width: 40px;
  height: 9px;
  background-color: rgb(57, 57, 168);
  margin: 25px auto 0;
  border-radius: 40px;
}

/* ========== MEDIA QUERY ========== */
@media (max-width: 768px) {
  .slider-heading {
    font-size: 2rem;
    padding-top: 1.5rem;
    letter-spacing: 2px;
  }

  .slider-viewport {
    min-height: 400px; /* Ajusta según el contenido más alto */
    position: relative;
  }

  .slider-heading::after {
    width: 30px;
    height: 6px;
    margin-top: 15px;
  }

  .slider-navigation {
    top: 50%;
    transform: translateY(-50%);
    padding: 0 40px;
  }

  .slider-navigation button {
    font-size: 2.5rem;
  }

  
}

@media (max-width: 480px) {
  .slider-heading {
    font-size: 1.6rem;
    padding-top: 1rem;
    letter-spacing: 1.5px;
  }

  .slider-navigation {
    padding: 20px;
  }

  .slider-navigation button {
    font-size: 2rem;
  }
}