.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.services-section {
  margin: 0 auto;
  padding: 40px 20px;
  transition: 0.5s ease all;
}

.services-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 3px;
}

.services-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 9px;
  background-color: rgb(57, 57, 168);
  margin: 25px auto 0;
  border-radius: 40px;
}

.custom-spotlight-card {
  height: 220px;
  background-color: #fcfcfc; 
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

.custom-spotlight-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 32px rgba(0, 0, 0, 0.12);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-container {/* Gris suave para contraste */
  padding: 16px;
  border-radius: 50%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 40px;
  color: #333; /* Gris oscuro para íconos */
}

.service-title {
  font-size: 1rem;
  font-weight: 600;
  color: #111; /* Texto más fuerte */
}
