:root {
  --red: rgb(145, 36, 36);
  --text: rgb(85, 85, 85);
  --title: rgb(17, 17, 17);
}

/* Projects */
/* Estructura del contenedor de proyectos */
.projects-section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  transition: 0.5s ease all;
}

.project-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.projects-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 37.70px;
  color: var(--title);
}

.project-image {
  flex: 1 1 400px;
  overflow: hidden;
  border-radius: 1rem;
}

.project-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.project-details {
  flex: 1 1 400px;
}

.project-details h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.concept {
  font-weight: bold;
  color: var(--red);
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 2rem;
  color: var(--text);
}

.project-links {
  display: flex;
  gap: 1rem;
}

.link-button {
  background-color: var(--red);
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s;
}

.link-button:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .project-container {
    text-align: center;
  }

  .project-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}