@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@property --color1 {
  syntax: '<color>';
  initial-value: #a18cd1;
  inherits: false;
}

@property --color2 {
  syntax: '<color>';
  initial-value: #fbc2eb;
  inherits: false;
}

@property --color3 {
  syntax: '<color>';
  initial-value: #ffffff;
  inherits: false;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #2c0736 #ffffff;
  }



:root {
  --red: rgb(145, 36, 36);
  --text: rgb(85, 85, 85);
  --title: rgb(17, 17, 17);
}

#root {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
}


#projects {
  transition: 0.5s ease all;
}

#about { 
  transition: 0.5s ease all;
}

#contact {
  transition: 0.5s ease all;
}

/* Contenedor del background interactivo */
.interactive-gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    var(--color1),
    var(--color2),
    var(--color3)
  );
  transition: --color1 0.5s ease, --color2 0.5s ease, --color3 0.5s ease;
}

/* Tema claro */
.interactive-gradient-bg.light {
  --color1: #a18cd1;
  --color2: #fbc2eb;
  --color3: #ffffff;
}

/* Tema oscuro */
.interactive-gradient-bg.dark {
  --color1: #0f0c29;
  --color2: #302b63;
  --color3: #24243e;
}

@media (max-width: 768px) {
  .interactive-gradient-bg.dark {
    --color1: #302b63;
    --color2: #24243e;
    --color3: #24243e;
  }
}